.items-container {
  display: flex;
  margin-top: 170px;
  align-items: center;
  height: 600px;
  justify-content: space-between;
}

.select-item {
  width: 70vh;
  margin-left: 60px;
}

.base-item-container {
  margin-right: 20px;
  width: 29%;
}

.combinedItemSelector {
  padding: 20px;
  background-color: #fdad00;
  display: block;
  border-radius: 10px;
  color: #1b0d97;
}

.items-info-container {
  text-align: center;
  margin-right: 60px;
  margin-left: 20px;
  background-color: #fdad00;
  width: 120vh;
  display: block;
  height: 555px;
  border-radius: 10px;
  color: #1b0d97;
  line-height: 38px;
}

.chosen-item-desc {
  font-size: 28px;
}

.chosen-item-header {
  font-size: 36px;
}

.chosen-item-content {
  transform: translateY(20%);
}

.item-image {
  width: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  display: inline;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
button {
  background-color: #fdad00;
  border: 0;
  cursor: pointer;
}

.image-border {
    border-color: #c58700;
  border-radius: 8px;
  border-style: solid;
}

.items-card-header {
  justify-content: center;
  padding-left: 7px;
  // text-align: left;
  font-size: 36px;
  font-weight: bolder;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #c58700;
  line-height: 32px;
}
.top-distance {
  margin-top: 7px;
  text-align: center;
}
