<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="items-container">
      <div class="select-item">
        <mat-card class="baseItemSelector">
          <mat-card-title class="card-header">Base items</mat-card-title>
          <ul *ngFor="let baseItem of baseItems">
            <button (click)="chooseItem(baseItem)">
              <img src="{{ baseItem.image }}" width="48" height="48" />
            </button>
          </ul>
        </mat-card>
        <mat-card class="combinedItemSelector">
          <mat-card-title class="card-header">Combined items</mat-card-title>
          <ul *ngFor="let combinedItem of combinedItems">
            <button (click)="chooseItem(combinedItem)">
              <img src="{{ combinedItem.image }}" width="48" height="48" />
            </button>
          </ul>
        </mat-card>
      </div>
      <mat-card class="items-info-container">
        <div *ngIf="chosenItem != null">
          <mat-card-title class="chosen-item-header">{{
            chosenItem.name
          }}</mat-card-title>
          <mat-card-content class="chosen-item-content">
            <img src="{{ chosenItem.image }}" border="7px" width="100px"/><br />
            <span class="chosen-item-desc">{{ chosenItem.description }}</span>
            <div *ngIf="chosenItem.component1 != null" font-size="52">
              Recipe: <br />
              <img src="{{ itemComponent1.image }}" class="item-image"/>
              <img
                src="https://firebasestorage.googleapis.com/v0/b/teamfighttacticsapp-90379.appspot.com/o/others%2Fplus.png?alt=media&token=605c0f62-9bea-43c4-93e2-f448a1dd99d1" width="70px"
              />
              <img src="{{ itemComponent2.image }}" class="item-image" />
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </body>
</html>
