.items-container {
    display: flex;
    background-color: brown;
    margin-top: 120px;
    align-items: center;
    height: 600px;
    justify-content: space-between;
}

.select-item {
    width: 60vh;
}

.baseItemSelector {
    padding: 20px;
    margin-left: 30px;
    background-color: cadetblue;
    display: block;
    height: 19vh;
}

.combinedItemSelector {
    padding: 20px;
    margin-left: 30px;
    background-color: rgb(23, 3, 207);
    display: block;
    height: 340px;
}

.items-info-container {
    padding: 20px;
    margin-right: 20px;
    background-color: chartreuse;
    width: 800px;
    display: block;
    height: 555px;
}

ul {
  display: inline;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
    height: 48px;
    border: 0;
    cursor: pointer;
}