<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="items-container">
      <div class="select-item">
        <div class="baseItemSelector">
          Base items <br />
          <ul *ngFor="let baseItem of baseItems">
            <button (click)="chooseItem(baseItem)">
              <img src="{{ baseItem.image }}" width="48" height="48" />
            </button>
          </ul>
        </div>
        <div class="combinedItemSelector">
          Combined items <br />
          <ul *ngFor="let combinedItem of combinedItems">
            <img src="{{ combinedItem.image }}" width="48" height="48" />
          </ul>
        </div>
      </div>
      <div class="items-info-container">
        <div *ngIf="chosenItem != null">{{ chosenItem.name }}</div>
      </div>
    </div>
  </body>
</html>
