.board-container {
  margin-top: 170px;
  min-height: 400px;
}

.side-list {
  background-color: chartreuse;
  min-width: 300px;
  border: 5px solid #000000;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  margin: 5px;
  font-size: 26px;
  background: transparent;
  position: relative;
  cursor: pointer;
  max-height: 250px;
}

.hero-btn:hover {
  border: 1px solid #fdad00;
  background: #fdad00;
  transition: 0.75s;
}

.champ-chooser {
  background-color: #fdad00;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  min-width: 1000px;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #c58700;
  border-radius: 10px;
}

.champ-list {
  margin: 5px;
}

img {
  border: 2px solid #c58700;
  cursor: pointer;
}
