.board-container {
  margin-top: 170px;
  min-height: 400px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-between;
  display: flex;
}

.side-list {
  background-color: chartreuse;
  min-width: 300px;
  border: 5px solid #000000;
}

.board {
  min-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "a a b b c c d d e e f f g g ."
    ". h h i i j j k k l l m m n n"
    "o o p p q q r r s s t t u u ."
    ". w w x x y y z z z1 z1 z2 z2 z3 z3";
}

.champ-chooser{
  background-color: #fdad00;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  min-width: 1000px;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #c58700;
  border-radius: 10px;
}

ul {
  margin: 5px;
}

img{
  border: 2px solid #c58700;
}

.a {
  grid-area: a;
  background-color: #fdad00;
}

.b {
  grid-area: b;
  background-color: #fdad00;
}

.c {
  grid-area: c;
  background-color: #fdad00;
}

.d {
  grid-area: d;
  background-color: #fdad00;
}

.e {
  grid-area: e;
  background-color: #fdad00;
}

.f {
  grid-area: f;
  background-color: #fdad00;
}

.g {
  grid-area: g;
  background-color: #fdad00;
}

.h {
  grid-area: h;
  background-color: #fdad00;
}

.i {
  grid-area: i;
  background-color: #fdad00;
}

.j {
  grid-area: j;
  background-color: #fdad00;
}

.k {
  grid-area: k;
  background-color: #fdad00;
}

.l {
  grid-area: l;
  background-color: #fdad00;
}

.m {
  grid-area: m;
  background-color: #fdad00;
}

.n {
  grid-area: n;
  background-color: #fdad00;
}

.o {
  grid-area: o;
  background-color: #fdad00;
}

.p {
  grid-area: p;
  background-color: #fdad00;
}

.q {
  grid-area: q;
  background-color: #fdad00;
}

.r {
  grid-area: r;
  background-color: #fdad00;
}

.s {
  grid-area: s;
  background-color: #fdad00;
}

.t {
  grid-area: t;
  background-color: #fdad00;
}

.u {
  grid-area: u;
  background-color: #fdad00;
}

.w {
  grid-area: w;
  background-color: #fdad00;
}

.x {
  grid-area: x;
  background-color: #fdad00;
}

.y {
  grid-area: y;
  background-color: #fdad00;
}

.z {
  grid-area: z;
  background-color: #fdad00;
}

.z1 {
  grid-area: z1;
  background-color: #fdad00;
}

.z2 {
  grid-area: z2;
  background-color: #fdad00;
}

.z3 {
  grid-area: z3;
  background-color: #fdad00;
}