<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>traits</title>
  </head>
  <body>
    <div class="tables-container">
      <table class="trait-table center">
        <thead>
          <tr>
            <th></th>
            <th>Trait</th>
            <th>Bonus</th>
            <th>Bonus description</th>
            <th class="units-row">Units</th>
          </tr>
        </thead>
        <tbody *ngFor="let trait of traits">
          <tr>
            <td>
              <img src="{{ trait.traitImage }}" />
            </td>
            <td>
              <b>{{ trait.name }}</b>
            </td>
            <td>{{ trait.bonus }}</td>
            <td>
              <table>
                <tr *ngFor="let bonusDesc of trait.bonusDesc">
                  {{
                    bonusDesc
                  }}
                  <br />
                </tr>
              </table>
            </td>
            <td>
              <table class="flex-table">
                <div *ngFor="let champion of champions">
                  <div
                    *ngIf="
                      champion.trait == trait.name ||
                      champion.trait2 == trait.name
                    "
                  >
                    <tr>
                      <img src="{{ champion.champImage }}" width="44" />
                      <br />
                    </tr>
                  </div>
                </div>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
