.trait-table {
  border-radius: 10px;
  width: 85%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.1em;
}

.trait-table thead tr {
  background-color: #d89400;
  color: #1b0d97;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.trait-table th,
.trait-table td {
  padding: 12px 15px;
}

.trait-table tbody tr{
  border-bottom: 1px solid #dddddd;
  background-color: #fdad00;
}

.tables-container {
  display: flex;
  margin-top: 170px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.bord-rad{
  border-radius: 10px;
}