.main-container {
  margin-top: 170px;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
}

.select-champ-info {
  width: 70%;
  height: 75vh;
  text-align: center;
  align-items: center;
}
.champ-container {
  margin-right: 20px;
  width: 29%;
}

.champ-info-container {
  background-color: #fdad00;
  height: 75vh;
  border-radius: 10px;
  width: 70%;
}

.champ-card-header {
  padding: 10px;
  // text-align: left;
  font-size: 36px;
  font-weight: bolder;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #c58700;
  line-height: 38px;
}
.top-distance {
  margin-top: 7px;
}

ul {
  display: inline;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
button {
  background-color: #fdad00;
  border: 0;
  cursor: pointer;
}

img {
  border-color: #c58700;
  border-radius: 8px;
  border-style: solid;
}

.champ-info-header {
  display: flex;
  margin: 10px;
}

.champ-name {
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
}

.trait-name {
  min-width: 15%;
  font-size: 28px;
  padding: 20px;
}
.trait-name img {
  transform: translateY(25%);
  padding: 5px;
}

.champ-stats {
  font-size: 26px;
  width: 33%;
  height: 490px;
  padding: 10px;
  line-height: 35px;
}

.champ-stats-container {
  display: flex;
}
.skill-info {
  height: 493px;
  width: 67%;
  border-left: 4px solid #c58700;
  border-top: 4px solid #c58700;
  border-top-left-radius: 10px;
}
.skill-info-header {
  display: flex;
  height: 137px;
}

// .skill-image,
// .skill-name {
//   height: 137px;
// }

.skill-image img {
  margin: 15px;
  width: 100px;
  border-color: #fdad00;
}

.skill-name {
  margin-top: 57px;
  font-size: 26px;
  font-weight: bold;
}

.skill-description {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 25px;
  line-height: 30px;
}

.skill-more-info {
  margin: 15px;
  font-size: 22px;
  font-style: italic;
}
