<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body> 
  <app-add-patch></app-add-patch>
<div class="patch-container">
  <ul *ngFor="let patch of patches">
    <mat-card class="card">
      <mat-card-title>{{ patch.title }} </mat-card-title>
      <mat-card-content>
        <div *ngFor="let description of patch.description">
          {{ description }}
          <br/>
        </div>
      </mat-card-content>
    </mat-card>
  </ul>
</div>

</body>
</html>
