<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.scss" />
    <link
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>TeamfightTacticsAPP</title>
  </head> -->
  <!-- <body>
    <section class="header">
      <nav>
        <a href="/home"
          ><img
            src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Teamfight_Tactics_logo.svg"
        /></a>
        <div class="nav-links">
          <ul>
            <li><a href="">PATCH NOTES</a></li>
            <li><a href="">TEAM COMPS</a></li>
            <li><a href="">FAVORITES</a></li>
            <li><a href="">TEAM COMP BUILDER</a></li>
            <li><a href="">CHAMPIONS</a></li>
            <li><a href="">TRAITS</a></li>
            <li><a href="">ITEMS</a></li>
          </ul>
        </div>
        <i class="fa fa-bars"></i>
      </nav>

      <div class="text-box">
        <h1>Helper For The Best Auto-Chess Game</h1>
        <p>
          Here you can make your own compositions, check out every champion,
          trait or item <br />
          Be prepared to fight for your honor!
        </p>
        <a href="" class="hero-btn">Create Account</a>
        <a href="" class="hero-btn">Login</a>
      </div>
    </section>
  </body>
</html>
<router-outlet></router-outlet> -->
