<nav class="nav">
  <div class="nav-content">
    <div>
      <a href="/home"
        ><img
          src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Teamfight_Tactics_logo.svg"
      /></a>
    </div>
    <div class="nav-links">
      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="/patch-notes">PATCH NOTES</a></li>
        <li><a href="/team-comps">TEAM COMPS</a></li>
        <li><a href="/favorites">FAVORITES</a></li>
        <li><a href="/team-comp-builder">TEAM COMP BUILDER</a></li>
        <li><a href="/champions-list">CHAMPIONS</a></li>
        <li><a href="/traits-list">TRAITS</a></li>
        <li><a href="/classes-list">CLASSES</a></li>
        <li><a href="/items-list">ITEMS</a></li>
      </ul>
    </div>
    <!-- <i class="fa fa-bars"></i> -->
  </div>
</nav>
