<div class="top-margin">
  <div class="main-card-container">
    <div class="new-patch-card main-card">
      <div class="main-card-header add-patch-header">Add Patch</div>
      <form (ngSubmit)="onSubmit()" onkeydown="return event.key != 'Enter';">
        <mat-form-field class="" appearance="fill">
          <mat-label>Patch title</mat-label>
          <input matInput [(ngModel)]="patch.title" name="title" />
        </mat-form-field>
        <br />
        <mat-form-field class="" appearance="fill">
          <mat-label>Patch description</mat-label>
          <input matInput #desc />
          <!-- <input matInput (keyup.enter)="onKeyUp($event)" #desc /> -->
        </mat-form-field>
        <mat-card-actions>
          <button type="button" class="hero-btn" (click)="handleClear()">
            Add description
          </button>
          <!-- <button mat-button (click)="addDescriptionToArray($event)">Add description</button> -->
          <button type="submit" class="hero-btn">Submit</button>
        </mat-card-actions>
      </form>
    </div>
  </div>

  <div class="patch-container">
    <div *ngIf="patch.description.length > 0">
      <div class="main-card">
        <div class="main-card-header header-text">{{ patch.title }}</div>
        <mat-card-content>
          <div *ngFor="let description of patch.description">
            {{ description }}
            <br />
          </div>
        </mat-card-content>
        <mat-card-footer> Submit if you want to add new patch </mat-card-footer>
      </div>
    </div>
  </div>
</div>
