.top-margin {
  margin-top: 170px;
  text-align: center;
}

.add-patch-header {
  font-size: 26px;
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.new-patch-card {
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.patch-container {
  align-items: center;
  flex-direction: column;
  margin: 1vh 40vh;
}

.header-text {
  font-size: 26px;
  font-weight: bold;
  padding: 15px;
}
