<div class="board">
  <app-square class="a" (eventChamp)="selected($event)"></app-square>
  <app-square class="b"></app-square>
  <app-square class="c"></app-square>
  <app-square class="d"></app-square>
  <app-square class="e"></app-square>
  <app-square class="f"></app-square>
  <app-square class="g"></app-square>
  <app-square class="h"></app-square>
  <app-square class="i"></app-square>
  <app-square class="j"></app-square>
  <app-square class="k"></app-square>
  <app-square class="l"></app-square>
  <app-square class="m"></app-square>
  <app-square class="n"></app-square>
  <app-square class="o"></app-square>
  <app-square class="p"></app-square>
  <app-square class="q"></app-square>
  <app-square class="r"></app-square>
  <app-square class="s"></app-square>
  <app-square class="t"></app-square>
  <app-square class="u"></app-square>
  <app-square class="w"></app-square>
  <app-square class="x"></app-square>
  <app-square class="y"></app-square>
  <app-square class="z"></app-square>
  <app-square class="z1"></app-square>
  <app-square class="z2"></app-square>
  <app-square class="z3"></app-square>
</div>
