// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0,50%);
    text-align: center;
}

.sign-card{
    width: 250px;
    background:#f8b524;
    color: #1b0d97;
}

.card p{
    
}