.margintop {
  margin-top: 130px;
}

.teams-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.team-card {
  color: #1b0d97;;
  margin: 10px;
  background-color: #fdad00;
  border-radius: 7px;
}

.team-card-header {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-left: 5px;
  background-color: #c58700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text{
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
}

.team-card-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
.champions {
  margin: 3px;
  text-align: center;
}

img {
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 5px;;
  border-color: white;
}

.hero-btn:hover {
  background-color: red;
}
